body {
    background-color: #FFFBE6;
}

#page {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    color: #050649;
}

#web-title {
    width: 1240px;
    maring: 20px;
    font-size: 70px;
    text-align: center;
    margin-bottom: 125px;
    margin-top: 18px;
}

#output {
    width: 1200px;
    min-height: 215px;
    border: 5px solid #A1B6E2;
    font-size: 26px;
    background-color: #B9C9ED;
    border-radius: 12px;
}
.container-header{
    float: left;
    width: 300px;
    height: 20px;
    text-align: center;
}

.container {
    width: 300px;
    height: 185px;
    float: left;
    text-align: center;
}

#output:hover {
    background-color: #CFDCF5;
}

#rand-btn {
    margin-top: 25px;
    width: 1240px;
    text-align: center;
}

#btn {
    width: 100px;
    height: 61px;
    font-size: 28px;
    background-color: #FFD8C0;
    border: 3px solid #FFCCAD;
    border-radius: 5px;
    color: #050649;
}

#btn:hover {
    background-color: #FFE4D3;
}

#btn:active {
    background-color: #FFC19A;
}

.container-header {
    font-size: 16px;
}