html {
    width: 100%;
}

body {
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#page-title {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 45px;
}

.output-row {
    min-height: 250px;
}

.outbar {
    font-size: 18px;
    min-height: 250px;
    border: 3px solid #2f6dce;
    border-radius: 10px;
    box-shadow: 2px 2px 40px 2px #cccccc;
    padding: 0;
    background-color: #ffffff;
}

.output-header {
    font-weight: bold;
    background-color: #2f6dce;
    color: #ffffff;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.select {
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 30%;
}

.select-btn {
    width: 40%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#sel-cat {
    text-align: right;
}

#sel-dif {
    text-align: left;
}

.choice-field {
    background-color: #2f6dce;
    color: #ffffff;
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid #2f6dce;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.choice-field:hover {
    background-color: #6d9bff;
}

.choice-field:focus {
    outline: none;
}

#btn {
    all: initial;
    all: unset;
    background-color: #2f6dce;
    color: #ffffff;
    width: 8rem;
    height: 3rem;
    cursor: pointer;
    border: 1px solid;
}

#btn:active {
    background-color: #00439c;
}

.recent {
    background-color: #ffffff;
    width: 50%;
    margin: auto;
    min-height: 200px;
    border: 1px solid #2f6dce;
    border-radius: 5px;
    box-shadow: 2px 2px 40px 2px #cccccc;
    text-align: center;
}

.recent-element {
    cursor: pointer;
    margin: auto;
    width: fit-content;
}

.recent-element::before {
    content: attr(data-tooltip);
    max-width: 20%;
    position: absolute;
    font-size: 18px;
    background-color: rgba(21, 101, 192, 70%);
    color: #ffffff;
    padding: 2px;
    border-radius: 5px;
    left: 52%;
    clip-path: circle(0rem at center);
    overflow: hidden;
}

.recent-element:hover::before {
    clip-path: circle(30rem at center);
}

.icon-github-circled {
    font-size: 50px;
    color: #2f6dce;
}

.icon-github-circled:hover {
    color: #6d9bff;
}

.icon-github-circled:visited {
    color: #2f6dce;
}


@media (max-width: 992px ) {
    .outbar {
        min-height: 15vw;
    }
}


@media (max-width: 768px) {
    .recent {
        width: 60%;
    }

    .recent-element::before {
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .recent {
        width: 70%;
    }

    .outbar {
        min-height: 20vw;
    }
}