<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Give me an idea!</title>

    <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'gmai/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gmai/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gmai/popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontello/css/fontello.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cookielaw/css/cookielaw.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,700&display=swap" rel="stylesheet">

    {% load cookielaw_tags %}
    {% cookielaw_banner %}

</head>
<body>
<div class="container">
    <div class="row col-12 mb-5 mt-5">
        <header>
            <h1 id="page-title">Give me and idea!</h1>
        </header>
    </div>


    {% block content %}

    {% endblock content %}

</div>
</body>
</html>