{% extends 'base.html' %}

{% block content %}

    <div class="row output-row">
        <div class="col-md-6 col-lg-3 gapper">
            <div class="outbar">
                <h1 class="output-header">Name</h1>
                <div id="name" class="output">
                    {{ name }}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 gapper">
            <div class="outbar">
                <h1 class="output-header">Category</h1>
                <div id="category" class="output">
                    {{ category }}
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-3 gapper">
            <div class="outbar">
                <h1 class="output-header">Difficulty</h1>
                <div id="difficulty" class="output">
                    {{ difficulty }}
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-3 gapper">
            <div class="outbar">
                <h1 class="output-header">Description</h1>
                <div id="description" class="output">
                    {{ description }}
                </div>
            </div>
        </div>
    </div>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-md-4 select" id="sel-cat">
                {{ category_form.as_p }}
            </div>
            <div class="col-sm-12 col-md-4 select-btn">
                <input type="submit" id="btn" name="btn" value="Draw!" input>
            </div>
            <div class="col-sm-12 col-md-4 select" id="sel-dif">
                {{ difficulty_form.as_p }}
            </div>

        </div>
    </form>
    <div class="row">
        <div class="col-12 recent">
            <h1> Recently drawn</h1>
                {% for rec in recent %}
                    <div class="recent-element" data-tooltip="{{ rec.1 }}">{{ rec.0 }}</div>
                {% endfor %}
            </div>
    </div>
    <div class="row">
        <div class="col-12 footer">
            <a href="https://github.com/kgwl" target="_blank"><i class="icon-github-circled"></i></a>
        </div>
    </div>

{% endblock content %}

