{% extends 'base.html' %}

{% block content %}

    <div class="row output-row">
        <div class="col-md-6 col-lg-3 outbar">
            <h1 class="output-header">Name</h1>
            <div id="name"  class="output">
                {{ name }}
            </div>
        </div>
        <div class="col-md-6 col-lg-3 outbar">
            <h1 class="output-header">Category</h1>
            <div id="category"  class="output">
                {{ category }}
            </div>
        </div>
        <div class="col-md-12 col-lg-3 outbar">
            <h1 class="output-header">Difficulty</h1>
            <div id="difficulty"  class="output">
                {{ difficulty }}
            </div>
        </div>
        <div class="col-md-12 col-lg-3 outbar">
            <h1 class="output-header">Description</h1>
            <div id="description" class="output">
                {{ description }}
            </div>
        </div>
    </div>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6 select">
                {{ category_form.as_p }}
            </div>
            <div class="col-sm-6 select">
                {{ difficulty_form.as_p }}
            </div>
            <div class="col-12 draw-btn">
                <input type="submit" id="btn" name="btn" value="Draw!" input>
            </div>
        </div>
    </form>


{% endblock content %}

