{% extends 'base.html' %}


{% block content %}

    <div id="output">

        <h2 class="container-header">Name</h2>
        <h2 class="container-header">Category</h2>
        <h2 class="container-header">Difficulty</h2>
        <h2 class="container-header">Description</h2>

        <div style="clear:both;"></div>

        <div id="name" class="container">
            {{ name }}
        </div>

        <div id="category" class="container">
            {{ category }}
        </div>

        <div id="difficulty" class="container">
            {{ difficulty }}
        </div>

        <div id="description" class="container">
            {{ description }}
        </div>
    </div>
    <div style="clear:both;"></div>
    <div id="rand-btn">
        <form action="" method="GET">
            <input type="submit" id="btn" name="btn" value="Draw!" input>
        </form>
    </div>

{% endblock content %}

